.cartItem {
  display: flex;
  height: 150px;
  margin: 10px;
  background-color: #ededed;
  padding: 2px;
  align-items: center;
  justify-content: space-around;
}

.cartItem img {
  max-width: 100px;
}

.main {
  max-width: 600px;
  margin: auto;
  margin-bottom: 60px;
}

.productQuantity input {
  max-width: 40px;
}

.productName {
  width: 200px;
}

.total {
  margin-bottom: 1em;
}

.total,
.subtotal {
  text-align: right;
  font-weight: bold;
}

.discount {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  margin: 30px 0;
  height: 30px;
}

.original {
  font-style: italic;
}

.discountAmount {
  text-align: right;
}

.discountCallout {
  font-style: italic;
  font-size: 10px;
  margin-bottom: 15px;
}

.discountedPrice {
  color: green;
  font-weight: bold;
}