.background {
  height: 100vh;
  background-size: cover;
}
.home {
  background-image: url(../public/robinhood-home.png);
}
.logged {
  background-image: url(../public/robinhood-logged.png);
}
.register {
  background-image: url(../public/robinhood-register.png);
}
.registerLink {
  position: absolute;
  right: 0;
  top: 0;
  width: 1690px;
  color: transparent;
  height: 630px;
}
.login.login {
  background-image: url(../public/wesalute.png);
  position: absolute;
  bottom: 1vh;
  background-size: 154px;
  background-repeat: no-repeat;
  left: 10vw;
  font-size: 13px;
  color: #00c806;
  text-decoration: none;
  width: 390px;
  height: 75px;
  padding-left: 174px;
  padding-top: 1vh;
}