.main {
  background-image: url(/Starbucks.png);
  max-width: 100%;
  margin: 0;
  background-size: cover;
  height: 100vh;
}
.connect {
  position: fixed;
  top: 31px;
  right: 339px;
  width: 250px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 15px;
}
.headerText.headerText {
  color: black;
  font-size: 13px;
  text-decoration: none;
  background-image: url(/wesalute.png);
  padding-left: 53px;
  min-height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 4px;
  font-weight: bold;
}
.connected .headerText {
  color: black;
  display: flex;
  padding-top: 0;
  align-items: center;
}