.main {
  background-image: url(../public/wesalute-screen.png);
  max-width: 100%;
  margin: 0;
  background-size: cover;
  height: 100vh;
}
.unredeemedText {
  position: absolute;
  left: 11vw;
  width: 24vw;
  top: 20vh;
  height: 34vh;
  text-indent: -99999px;
  overflow: hidden;
}
.redeemedText {
  position: absolute;
  left: 11vw;
  width: 24vw;
  top: 20vh;
  height: 34vh;
  overflow: hidden;
  background-color: rgba(0,0,0,.6);
  text-align: center;
  padding: 39px 0;
  color: #ab0000;
  font-size: 30px;
  text-shadow: 0px 0px 13px white;
  border-radius: 10px;
  font-weight: bold;
}
.redeemedText span {
  background-color: white;
  padding: .2em;
}